/* -------------------------------- 

Primary style

-------------------------------- */

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 100%;
  font-family: 'Ubuntu Mono', monospace;
  color: #293858;
  background-color: white;
}

body, html {
  height: 100%;
}

a {
  color: #efc958;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

img {
  max-width: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */

.cd-img-replace {
  /* replace text with a background-image */
  display: inline-block;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

/* -------------------------------- 

Main components 

-------------------------------- */

.cd-section {
  min-height: 100%;
  position: relative;
  padding: 2em 0;
}

.cd-section:nth-of-type(odd) {
  background-color: #344e5c;
}

.cd-section:nth-of-type(odd) p {
  color: #fff;
}

.cd-section:nth-of-type(even) {
  background-color: #4ab19d;
}

.cd-section:nth-of-type(even) p {
  color: #344e5c;
}

.cd-section h1, .cd-section p {
  /* position: absolute; */
  /* left: auto; */
  /* top: 10%; */
  /* bottom: auto;*/
  /* right: auto; */
  /* -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); */
  /* width: 100%; */
  /* max-width: 768px; */
  text-align: left;
}

.cd-section h1 {
  color: white;
  font-weight: 300;
  font-size: 40px;
  font-size: 1.25rem;
  margin-bottom: 70px
}

.cd-section p {
  line-height: 1.3;
  margin-bottom: 30px;
}

.cd-section p b {
  font-style: italic
}

@media only screen and (min-width: 768px) {
  .cd-section h1 {
    font-size: 50px;
  }
  .cd-section p {
    font-size: 25px;
    font-size: 1.5rem;
  }
}

.cd-scroll-down {
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  width: 38px;
  height: 44px;
  background: url("../img/cd-arrow-bottom.svg") no-repeat center center;
}

/* No Touch devices */

.cd-nav-trigger {
  display: none;
}

.no-touch #cd-vertical-nav {
  position: fixed;
  right: 40px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 1;
}

.no-touch #cd-vertical-nav li {
  text-align: right;
}

.no-touch #cd-vertical-nav a {
  display: inline-block;
  /* prevent weird movements on hover when you use a CSS3 transformation - webkit browsers */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.no-touch #cd-vertical-nav a:after {
  content: "";
  display: table;
  clear: both;
}

.no-touch #cd-vertical-nav a span {
  float: right;
  display: inline-block;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
}

.no-touch #cd-vertical-nav a:hover span {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.no-touch #cd-vertical-nav a:hover .cd-label {
  opacity: 1;
}

.no-touch #cd-vertical-nav a.is-selected .fa {
  color: white;
}

.no-touch #cd-vertical-nav .fa {
  position: relative;
  /* we set a top value in order to align the dot with the label. If you change label's font, you may need to change this top value*/
  /* top: 8px;
  height: 12px;
  width: 12px;
  border-radius: 50%; */
  /* background-color: #d88683; */
  -webkit-transition: -webkit-transform 0.2s, background-color 0.5s;
  -moz-transition: -moz-transform 0.2s, background-color 0.5s;
  transition: transform 0.2s, background-color 0.5s;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

.no-touch #cd-vertical-nav .cd-label {
  position: relative;
  margin-right: 10px;
  padding: .4em .5em;
  color: white;
  font-size: 14px;
  font-size: 0.875rem;
  -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
  -moz-transition: -moz-transform 0.2s, opacity 0.2s;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
  -webkit-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  -o-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

/* Touch devices */

.touch .cd-nav-trigger {
  display: block;
  z-index: 2;
  position: fixed;
  bottom: 30px;
  right: 5%;
  height: 44px;
  width: 44px;
  border-radius: 0.25em;
  background: rgba(255, 255, 255, 0.9);
}

.touch .cd-nav-trigger span {
  position: absolute;
  height: 4px;
  width: 4px;
  background-color: #3e3947;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.touch .cd-nav-trigger span::before, .touch .cd-nav-trigger span::after {
  content: '';
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  background-color: inherit;
  border-radius: inherit;
}

.touch .cd-nav-trigger span::before {
  top: -9px;
}

.touch .cd-nav-trigger span::after {
  bottom: -9px;
}

.touch #cd-vertical-nav {
  position: fixed;
  z-index: 1;
  right: 5%;
  bottom: 30px;
  width: 90%;
  max-width: 400px;
  max-height: 90%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
  border-radius: 0.25em;
  background-color: rgba(255, 255, 255, 0.9);
}

.touch #cd-vertical-nav a {
  display: block;
  padding: 1em;
  border-bottom: 1px solid rgba(62, 57, 71, 0.1);
}

.touch #cd-vertical-nav a span:first-child {
  display: none;
}

.touch #cd-vertical-nav a.is-selected span:last-child {
  color: #d88683;
}

.touch #cd-vertical-nav.open {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.touch #cd-vertical-nav.open+.cd-nav-trigger {
  background-color: transparent;
}

.touch #cd-vertical-nav.open+.cd-nav-trigger span {
  background-color: rgba(62, 57, 71, 0);
}

.touch #cd-vertical-nav.open+.cd-nav-trigger span::before, .touch #cd-vertical-nav.open+.cd-nav-trigger span::after {
  background-color: #3e3947;
  height: 3px;
  width: 20px;
  border-radius: 0;
  left: -8px;
}

.touch #cd-vertical-nav.open+.cd-nav-trigger span::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
}

.touch #cd-vertical-nav.open+.cd-nav-trigger span::after {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  bottom: 0;
}

.touch #cd-vertical-nav li:last-child a {
  border-bottom: none;
}

@media only screen and (min-width: 768px) {
  .touch .cd-nav-trigger, .touch #cd-vertical-nav {
    bottom: 40px;
  }
}

.banner-text {
  background-image: src('../img/Yuda.jpg');
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 700ms;
}

.banner-text h1 {
  font: 90px/2.5em
  /* 'Mansalva', */
  'product sans', sans-serif;
  color: #efc958;
  letter-spacing: 2px;
  /* position: absolute;
  left: 50%;
  top: 40%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 90%;
  max-width: 768px;
  text-align: center; */
}

#section1 {
  background: url("../img/Yuda.jpg") no-repeat center center;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  top: 20%
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.8;
}

.progress {
  margin-bottom: 20px
}

.animate-up {
  transition: 0.5s;
}

.animate-up a:hover {
  transform: translateY(-10px);
}

h2 {
  font-size: 30px;
  color: #efc958
}

h3 {
  font-size: 20px;
  color: #5c5961
}

.edu-panel {
  width: 100%;
  background-color: #3e3947;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0px 5px 10px #1f1a25;
  margin: 0 20px;
  padding: 20px;
  margin-bottom: 20px
}

.edu-top {
  width: 100%;
  height: 30px;
  margin: 0 20px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  background-color: #1f1a25;
  box-shadow: 0px 5px 10px #1f1a25;
  padding-left: 30px;
  padding-top: 8px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d88683;
  margin-right: 5px;
}

.port-panel {
  width: 100%;
  background-color: #3e3947;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  box-shadow: 0px 5px 7px #251e2e;
  margin: 0 20px;
  padding: 20px;
  margin-bottom: 20px;
}

.port-img {
  height: 200px;
  width: 100%;
  margin: 0 20px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  box-shadow: 0px 5fpx 10px #292430;
}

#larakost {
  background: url("../img/larakost.PNG") no-repeat center center;
}

#wisata {
  background: url("../img/android.png") no-repeat center center;
}

#mantuku {
  background: url("../img/laravel.jpg") no-repeat center center;
}

label {
  color: #fff;
  padding: 0px 0px 10px 0
}

.m-5 {
  margin-right: 0px;
  margin-left: 0px;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef
}

.timeline>li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px
}

.timeline>li:after, .timeline>li:before {
  display: table;
  content: ' '
}

.timeline>li:after {
  clear: both
}

.timeline>li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left
}

.timeline>li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0
}

.timeline>li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0
}

.timeline>li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: #fff;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136
}

.timeline>li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px
}

.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0
}

.timeline>li.timeline-inverted>.timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0
}

.timeline>li:last-child {
  margin-bottom: 0
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit
}

.timeline .timeline-heading h4.subheading {
  text-transform: none
}

.timeline .timeline-body>p, .timeline .timeline-body>ul {
  margin-bottom: 0
}

ul.social-buttons {
    margin-bottom: 0
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 50px;
    display: block;
    width: 50px;
    height: 50px;
    transition: all .3s;
    color: #fff;
    border-radius: 100%;
    outline: 0;
    background-color: #212529
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #fed136
}

@media (min-width:768px) {
  .timeline:before {
    left: 50%
  }
  .timeline>li {
    min-height: 100px;
    margin-bottom: 100px
  }
  .timeline>li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right
  }
  .timeline>li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px
  }
  .timeline>li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px
  }
  .timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left
  }
}

@media (min-width:992px) {
  .timeline>li {
    min-height: 150px
  }
  .timeline>li .timeline-panel {
    padding: 0 20px 20px
  }
  .timeline>li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px
  }
  .timeline>li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px
  }
  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 20px 20px
  }
}

@media (min-width:1200px) {
  .timeline>li {
    min-height: 170px
  }
  .timeline>li .timeline-panel {
    padding: 0 20px 20px 100px
  }
  .timeline>li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px
  }
  .timeline>li .timeline-image h4 {
    margin-top: 40px
  }
  .timeline>li.timeline-inverted>.timeline-panel {
    padding: 0 100px 20px 20px
  }
}